<div class="social-media" style="margin: 1rem">
  <a href="https://facebook.com/"><img src="/icons/facebook icon.png" /></a>
  <a href="https://instagram.com/"><img src="/icons/Inst icon.png" /></a>
  <a href="https://youtube.com/"><img src="/icons/youtube icon.png" /></a>
</div>

<div class="footer-container" style="margin: 1rem">
  <p>© 2024 - 2025 Tourism company Fligh, s.r.o.</p>
</div>
