<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/Errors.css" />
    <title>404</title>
  </head>
  <body>
    <header><%- include("includes/header.ejs") %></header>

    <main>
      <hr
        style="
          height: 1.5px;
          color: #8b0000;
          background-color: #8b0000;
          opacity: 100%;
          margin: 3rem 3rem 0;
        "
      />
      <section class="error-container">
        <h1 style="font-family: Arial, Helvetica, sans-serif; color: #5b0c0c">
          404 page not found
        </h1>
      </section>
      <hr
        style="
          height: 1.5px;
          color: #8b0000;
          background-color: #8b0000;
          opacity: 100%;
          margin: 0 3rem;
        "
      />
    </main>

    <%- include("../includes/contact-option.ejs") %>

    <footer><%- include("includes/footer.ejs") %></footer>
  </body>
</html>
