<dialog id="confirmDialog">
  <h4></h4>
  <div>
    <button id="cancelDialogButton" class="cancelDialogButton">Cancel</button>
    <button id="confirmDialogButton" class="confirmDialogButton">
      Confirm
    </button>
  </div>
</dialog>
