<section
  class="contact-options"
  style="
    background-color: #f5e5e5;
    text-align: center;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 10px;
    max-width: 60%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  "
>
  <p style="margin-bottom: 1rem; font-size: 1rem; color: #4f1515">
    Find all other ways to contact Fligh
  </p>
  <a
    href="/Contacts"
    style="color: #8b0000; text-decoration: underline; font-weight: bold"
    >Contact us</a
  >
</section>
